@use "./assets/scss/base/reset";
@use "./assets/scss/abstracts/colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
	width: 100%;
	height: 100vh;
	font-family: "Nunito Sans", sans-serif;
}
#root {
	width: 100%;
	height: 100%;
}
.mainNav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 15vh;
	padding: 2rem;
	background-color: var(--element);
	color: var(--text);
	h1 {
		font-weight: 800;
	}
}
.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 3rem;
	background-color: var(--backgroundColor);
	.countriesWrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
		align-items: center;
		gap: 2rem;
		&.auto {
			grid-template-columns: auto;
		}
		.card {
			width: 85%;
			height: 100%;
			box-shadow: 0px 3px 32px 12px rgba(0, 0, 0, 0.35);
			background-color: var(--element);
			color: var(--text);
			cursor: pointer;
			&.flex {
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: default;
			}
			h3 {
				font-weight: 800;
			}
			p {
				font-weight: 400;
			}
			.cardContent {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				padding: 2rem;
				h3 {
					font-size: 30px;
				}
				p {
					font-weight: 600;
					span {
						font-weight: 400;
						margin-left: 1rem;
						color: var(--input);
					}
				}
			}
			.cardContemtWrapperr {
				display: flex;
				width: 100%;
				gap: 10rem;
			}
		}
		.topImg {
			display: flex;
			align-items: center;
			img {
				width: 100%;
				border-bottom: 1px solid rgba(255, 255, 255, 0.103);
			}
		}
		.active {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 66vh;
			width: 45%;
			img {
				width: 60%;
				box-shadow: 0px 2px 20px 15px rgb(0 0 0 / 35%);
			}
		}
	}
}
.mainForm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	label {
		width: 80%;
		input[type="text"] {
			width: 35%;
			height: 5vh;
			background-color: var(--element);
			border: none;
			outline: none;
			padding-left: 3rem;
			color: var(--text);
			border-radius: 5px;
			box-shadow: 0px 3px 17px 5px rgb(0 0 0 / 35%);
		}
	}
	select {
		cursor: pointer;
		margin-left: 2rem;
		padding-left: 1rem;
		background-color: var(--element);
		color: var(--text);
		width: 13%;
		height: 6vh;
		border: none;
		outline: none;
	}
}
.raz {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.themeLabel {
	display: flex;
	align-items: center;
	cursor: pointer;
	span {
		margin-right: 1rem;
	}
	input[type="checkbox"] {
		appearance: none;
	}
}
